{% extends 'estrutura/base.html' %}
{% block conteudo %}
{% include 'estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            BITOLAS
          </div>
          <h2 class="page-title">
            Listagem
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <div  class="card">

          <!-- Início Tabela -->
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th style="text-align: center;">Bitola</th>
                  <th style="text-align: center;">Ativo</th>
                  <th style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for p in parametros %}
                <tr>
                  <td class="text-secondary" style="text-align: center;">
                    {{ p.bitola[:40] }}
                    {% if p.bitola | length > 40 %}
                    ...
                    {% endif %}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {%if p.ativo == 1%}<span class="badge badge-outline text-green">Sim</span>{%else%}<span
                      class="badge badge-outline text-danger">Não</span>{%endif%}
                  </td>
                  <td>
                    <div class="btn-list flex-nowrap" style="justify-content: center;">
                      <a href="{{ url_for('editar_bitola', id=p.id) }}" class="btn btn-icon btn-outline-warning"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar bitola">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                          <path d="M13.5 6.5l4 4" />
                        </svg>
                      </a>

                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'estrutura/footer.html' %}
</div>

{% endblock conteudo %}