{% extends 'estrutura/base.html' %}
{% block conteudo %}
{% include 'estrutura/header.html' %}
<div class="page-wrapper">
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <div class="page-pretitle">Editar</div>
          <h2 class="page-title">Rota de Frete</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      {% include 'estrutura/mensagens_flash.html' %}
      <div class="col-12">
        <form class="card" action="{{ url_for('editar_rota', id=rota.id) }}" method="POST">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="mb-3">
                  <div class="form-label">Tipo de origem</div>
                  <div>
                    <label class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tipoOrigem" value="floresta" {% if
                        dados_corretos['tipoOrigem']=='floresta' %}checked{% endif %}>
                      <span class="form-check-label">Floresta</span>
                    </label>
                    <label class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="tipoOrigem" value="fornecedor" {% if
                        dados_corretos['tipoOrigem']=='fornecedor' %}checked{% endif %}>
                      <span class="form-check-label">Fornecedor</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 grupoFloresta">
                <div class="mb-3">
                  <label class="form-label required">Floresta origem <small>(descontinuada)</small></label>
                  <input type="text" class="form-control"
                    value="{%if rota.floresta_id%} {{rota.floresta.identificacao}} {%else%} Sem informação {%endif%}"
                    readonly disabled>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 grupoFornecedor">
                <div class="mb-3">
                  <label class="form-label required">Fornecedor/Floresta</label>
                  <select name="fornecedorIdentificacao"
                    class="form-select {% if 'fornecedorIdentificacao' in campos_obrigatorios or 'fornecedorIdentificacao' in campos_erros %}is-invalid{% endif %}">
                    <option value>Selecione...</option>
                    {% for f in fornecedores %}
                    <option value="{{ f.id }}" {% if dados_corretos['fornecedorIdentificacao']==f.id %}selected{% endif
                      %}>{{ f.identificacao }}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    {{ campos_obrigatorios['fornecedorIdentificacao'] if
                    'fornecedorIdentificacao' in campos_obrigatorios else
                    campos_erros.get('fornecedorIdentificacao', '') }}
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="mb-3">
                  <label class="form-label required">Cliente destino</label>
                  <select name="clienteDestino"
                    class="form-select {% if 'clienteDestino' in campos_obrigatorios or 'clienteDestino' in campos_erros %}is-invalid{% endif %}">
                    <option value>Selecione...</option>
                    {% for c in clientes %}
                    <option value="{{ c.id }}" {% if dados_corretos['clienteDestino']==c.id %}selected{% endif %}>{{
                      c.identificacao }}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    {{ campos_obrigatorios['clienteDestino'] if 'clienteDestino'
                    in campos_obrigatorios else
                    campos_erros.get('clienteDestino', '') }}
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3">
                <div class="mb-3">
                  <label class="form-label required">Transportadora</label>
                  <select name="transportadoraFrete"
                    class="form-select {% if 'transportadoraFrete' in campos_obrigatorios or 'transportadoraFrete' in campos_erros %}is-invalid{% endif %}">
                    <option value="">Selecione...</option>
                    <option value="todos" {% if dados_corretos.get('transportadoraFrete') == 'todos' %}selected{% endif %}>
                      Todos (Preço Padronizado)
                    </option>
                    {% for t in transportadoras %}
                    <option value="{{ t.id }}" {% if dados_corretos.get('transportadoraFrete')==t.id %}selected{% endif %}>
                      {{ t.identificacao }}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    {{ campos_obrigatorios['transportadoraFrete'] if
                    'transportadoraFrete' in campos_obrigatorios else
                    campos_erros.get('transportadoraFrete', '') }}
                  </div>
                </div>
              </div>
            </div>
            <h3 class="text-primary mb-4">Preços de custo de frete por
              Bitola</h3>
            <div class="row">

              {% for produto_id, produto_data in produtos_bitolas.items() %}
              
              <div class="col-md-12">
                <div class="card border-0 shadow-sm mb-4">
                  <div class="card-header text-dark">
                    <strong>{{ produto_data.nome }}</strong>
                  </div>
                  <div class="card-body">

                    {% for loop_index in range(produto_data.bitolas|length) %}
                    {% set bitola = produto_data.bitolas[loop_index] %}
                    {% set nome_produto_lower = produto_data.nome.lower() %}
                    {% if nome_produto_lower == 'eucalipto' %}
                      {% set prefix = 'euca' %}
                    {% elif nome_produto_lower == 'pinus' %}
                      {% set prefix = 'pinus' %}
                    {% elif nome_produto_lower == 'biomassa' %}
                      {% set prefix = 'bio' %}
                    {% else %}
                      {% set prefix = nome_produto_lower[:5] %}
                    {% endif %}
                    
                    <div class="row mb-3">
                      <div class="col-md-{% if produto_data.nome == 'Pinus' %}5{% else %}4{% endif %}">
                        <label class="form-label">{% if produto_data.nome == 'Biomassa' %}Tipo{% else %}Bitola{% endif %}</label>
                        <input type="text" name="{{ prefix }}BitolaId{{ loop_index + 1 }}" value="{{ bitola.nome }}" disabled
                          class="form-control">
                      </div>
                      <div class="col-md-{% if produto_data.nome == 'Pinus' %}7{% else %}8{% endif %}">
                        <label class="form-label">Preço Custo {% if produto_data.nome == 'Biomassa' %}(Ton.){% else %}Frete (Ton.){% endif %}</label>
                        <input type="text" name="{{ prefix }}PrecoCusto{{ loop_index + 1 }}" 
                          value="{{ dados_corretos[prefix + 'PrecoCusto' + (loop_index + 1)|string] }}"
                          class="form-control campo-moeda-brl {% if (prefix + 'PrecoCusto' + (loop_index + 1)|string) in campos_obrigatorios %}is-invalid{% endif %}">
                      </div>
                    </div>
                    {% endfor %}

                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>

          <div class="card-footer text-center text-md-end">
            <a href="{{ url_for('listar_rotas') }}" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
                <path d="M5 12l6 6"></path>
                <path d="M5 12l6 -6"></path>
              </svg>
              Voltar</a>
            <button type="submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                viewBox="0 0 24 24" stCadastrarroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function alternarCampos() {
        const tipoSelecionado = document.querySelector('input[name="tipoOrigem"]:checked')?.value;
        const grupoFloresta = document.querySelectorAll('.grupoFloresta');
        const grupoFornecedor = document.querySelectorAll('.grupoFornecedor');

        if (tipoSelecionado === "floresta") {
          grupoFloresta.forEach(el => el.style.display = 'block');
          grupoFornecedor.forEach(el => el.style.display = 'none');
        } else {
          grupoFloresta.forEach(el => el.style.display = 'none');
          grupoFornecedor.forEach(el => el.style.display = 'block');
        }
      }
      document.querySelectorAll('input[name="tipoOrigem"]').forEach(radio => {
        radio.addEventListener('change', alternarCampos);
      });
      alternarCampos();
    });
  </script>
  {% include 'estrutura/footer.html' %}
</div>
{% endblock conteudo %}