<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
      aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand navbar-brand-autodark">
      <a href="{{ url_for('principal') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}"
          style="width: 110px !important; height: 45px !important;" alt="Logomarca MBR" class="navbar-brand-image">
      </a>
    </div>

    <!-- Seção superior com controles -->
    <div class="navbar-nav flex-row d-lg-none">
      <div class="nav-item d-none d-lg-flex me-3">
        <div class="btn-list">
          <!-- Você pode adicionar botões personalizados aqui se desejar -->
        </div>
      </div>
      <div class="d-none d-lg-flex">
        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Ativar modo escuro" data-bs-toggle="tooltip"
          data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
        </a>
        <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Ativar modo claro" data-bs-toggle="tooltip"
          data-bs-placement="bottom">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
        </a>
        <div class="nav-item dropdown d-none d-md-flex me-3">
          <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Mostrar notificações">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
              <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
              <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            </svg>
            <span class="badge bg-red"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Últimas atualizações</h3>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">Exemplo 1</a>
                      <div class="d-block text-secondary text-truncate mt-n1">
                        Nova funcionalidade adicionada ao sistema
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
          aria-label="Abrir menu do usuário">
          <span class="avatar avatar-sm"
            style="background-image: url({{ url_for('static', filename='images/avatar-default.jpg') }})"></span>
          <div class="d-none d-xl-block ps-2">
            <div>Nome do Usuário</div>
            <div class="mt-1 small text-secondary">Função</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="#" class="dropdown-item">Status</a>
          <a href="#" class="dropdown-item">Perfil</a>
          <a href="#" class="dropdown-item">Feedback</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">Configurações</a>
          <a href="#" class="dropdown-item">Sair</a>
        </div>
      </div>
    </div>

    <!-- Menu principal -->
    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        <li class="nav-item 
                {% if request.endpoint == 'principal' %} 
                  active 
                {% endif %}">
          <a class="nav-link" href="{{ url_for('principal') }}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
              </svg>
            </span>
            <span class="nav-link-title">
              Visão Geral
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('simular_precificacao')}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-calculator" style="margin-right: 10px;">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 3m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
              <path d="M8 7m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
              <path d="M8 14l0 .01" />
              <path d="M12 14l0 .01" />
              <path d="M16 14l0 .01" />
              <path d="M8 17l0 .01" />
              <path d="M12 17l0 .01" />
              <path d="M16 17l0 .01" />
            </svg>
            <span class="nav-link-title">
              Simulador de Precificação
            </span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-truck-return">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2" />
                <path d="M9 17l6 0" />
                <path d="M13 6h5l3 5v6h-2" />
              </svg>
            </span>
            <span class="nav-link-title">
              Controle de Cargas
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a class="dropdown-item" href="{{url_for('listagem_solicitacoes')}}">
                  Solicitações e NF
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_registros_operacionais')}}">
                  Registro Operacional
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_nf_complementar')}}">
                  NF Complementar
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_nf_entrada')}}">
                  NF Entrada
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 
                      1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 
                      1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 
                      1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 
                      2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 
                      1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 
                      -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 
                      -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 
                      -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
                </path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
              </svg>
            </span>
            <span class="nav-link-title">
              Gerenciar
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a class="dropdown-item" href="{{ url_for('listar_transportadoras')}}">
                  Transportadoras
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_motoristas')}}">
                  Motoristas
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_veiculos')}}">
                  Veículos
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_fornecedores')}}">
                  Fornecedores
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_extratores')}}">
                  Extratores
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_clientes')}}">
                  Clientes
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_comissionados')}}">
                  Comissionados
                </a>
                <a class="dropdown-item" href="{{ url_for('listar_pessoas_financeiro')}}">
                  Pessoas Financeiro
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-currency-dollar">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2" />
                <path d="M12 3v3m0 12v3" />
              </svg>
            </span>
            <span class="nav-link-title">
              Faturamento
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Cargas a Faturar
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('listagem_fornecedores_a_pagar')}}">
                      Fornecedores a Faturar
                    </a>
                    <a class="dropdown-item" href="{{url_for('listagem_fretes_a_pagar')}}">
                      Fretes a Faturar
                    </a>
                    <a class="dropdown-item" href="{{url_for('listagem_extratores_a_pagar')}}">
                      Extratores a Faturar
                    </a>
                    <a class="dropdown-item" href="{{url_for('listagem_comissionados_a_pagar')}}">
                      Comissionados a Faturar
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Cargas a Receber
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('listagem_a_receber')}}">
                      Vendas
                    </a>
                    <a class="dropdown-item" href="{{url_for('faturamento_nf_complementar')}}">
                      NF Complementar
                    </a>
                    <a class="dropdown-item" href="{{url_for('faturamento_nf_servico')}}">
                      Serviços
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Controle de Créditos
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('saldo_fornecedores')}}">
                      Fornecedores
                    </a>
                    <a class="dropdown-item" href="{{url_for('saldo_freteiros')}}">
                      Fretes
                    </a>
                    <a class="dropdown-item" href="{{url_for('saldo_extratores')}}">
                      Extratores
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-moneybag">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M9.5 3h5a1.5 1.5 0 0 1 1.5 1.5a3.5 3.5 0 0 1 -3.5 3.5h-1a3.5 3.5 0 0 1 -3.5 -3.5a1.5 1.5 0 0 1 1.5 -1.5" />
                <path d="M4 17v-1a8 8 0 1 1 16 0v1a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4" />
              </svg>
            </span>
            <span class="nav-link-title">
              Financeiro
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a class="dropdown-item" href="{{url_for('conciliacao_contas_bancarias')}}">
                  Contas Bancárias
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_receitas_avulsas')}}">
                  Receitas
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_despesas_avulsas')}}">
                  Despesas
                </a>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Operacional
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('listagem_faturamentos_cargas_a_pagar')}}">
                      Cargas a Pagar
                    </a>
                    <a class="dropdown-item" href="{{url_for('listagem_faturamentos_cargas_a_receber')}}">
                      Cargas a Receber
                    </a>
                    <!-- Não vai para faturamento os lancamentos avulsos -->
                    <!-- <a class="dropdown-item" href="{{url_for('listagem_faturamentos_receitas_avulsas')}}">
                      Receitas
                    </a>
                    <a class="dropdown-item" href="{{url_for('listagem_faturamentos_despesas_avulsas')}}">
                      Despesas
                    </a> -->
                    <a class="dropdown-item" href="{{url_for('listagem_faturamentos_controle_credito')}}">
                      Controle de Créditos
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-report">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" />
                <path d="M18 14v4h4" />
                <path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" />
                <path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M8 11h4" />
                <path d="M8 15h3" />
              </svg>
            </span>
            <span class="nav-link-title">
              Relatórios
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Relatório de Cargas
                  </a>
                  <div class="dropdown-menu">
                    <div class="dropend">
                      <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside" role="button" aria-expanded="false">
                        NF Entrada
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal"
                          data-bs-target="#modal-controle-estoque-fornecedor" href="{{url_for('listar_empresa_emissora')}}">
                          Controle Estoque Fornecedor
                        </a>
                      </div>
                    </div>
                    <a href="{{url_for('relatorio_cargas_cliente')}}" class="dropdown-item">
                      Cargas por Cliente
                    </a>
                    <a href="{{url_for('relatorio_cargas_fornecedor_floresta')}}" class="dropdown-item">
                      Cargas por fornecedor/floresta
                    </a>
                    <a href="{{url_for('relatorio_cargas_transportadora')}}" class="dropdown-item">
                      Cargas por transportadora
                    </a>
                    <a href="{{url_for('relatorio_sintetico_cliente')}}" class="dropdown-item">
                      Relatório por Cliente
                    </a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-relatorio-excel">
                      Relatório para Dashboard
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Relatório Semanal
                  </a>
                  <div class="dropdown-menu">
                    <a href="{{url_for('relatorio_unificado_cargas')}}" class="dropdown-item">
                      Unificado de Cargas
                    </a>
                    <a href="{{url_for('relatorio_sintetico_transportadora')}}" class="dropdown-item">
                      Sintético por Transportadora
                    </a>
                    <a href="{{url_for('relatorio_prestacao_transportadora')}}" class="dropdown-item">
                      Prestação de Contas Transportadora
                    </a>
                    <a href="{{url_for('relatorio_sintetico_fornecedor_floresta')}}" class="dropdown-item">
                      Sintético Fornecedor
                    </a>
                    <a href="{{url_for('relatorio_sintetico_fornecedor')}}" class="dropdown-item">
                      Prestação de Contas Fornecedor
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Relatórios Financeiros
                  </a>
                  <div class="dropdown-menu">
                    <a href="{{url_for('dfc_analitico')}}" class="dropdown-item">
                      DFC
                    </a>
                    <a href="{{url_for('dre_analitico')}}" class="dropdown-item">
                      DRE
                    </a>
                    <a href="{{url_for('relatorio_a_pagar_fornecedores')}}" class="dropdown-item">
                      Relatório a pagar Fornecedor
                    </a>
                    <a href="{{url_for('relatorio_a_pagar_fretes')}}" class="dropdown-item">
                      Relatório a pagar Frete
                    </a>
                    <a href="{{url_for('relatorio_a_pagar_extratores')}}" class="dropdown-item">
                      Relatório a pagar Extrator
                    </a>
                    <a href="{{url_for('relatorio_a_pagar_comissionados')}}" class="dropdown-item">
                      Relatório a pagar Comissionado
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-cargas-receber" class="dropdown-item">
                      Relatório Cargas a Receber
                    </a>
                  </div>
                </div>
                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                  data-bs-target="#modal-movimentacaoes-financeiras">
                  Relatório Movimentações Financeiras
                </a>
                <a class="dropdown-item" href="{{url_for('relatorio_controle_emissao')}}">
                  Controle Emissão
                </a>
                <a class="dropdown-item" href="{{url_for('relatorio_controle_nf_complementar')}}">
                  Controle NF Complementar
                </a>
                <a class="dropdown-item" href="{{url_for('listagem_controle_funrural_Senar')}}">
                  Controle Funrural/Senar
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-settings">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M12 10.5v1.5" />
                <path d="M12 16v1.5" />
                <path d="M15.031 12.25l-1.299 .75" />
                <path d="M10.268 15l-1.3 .75" />
                <path d="M15 15.803l-1.285 -.773" />
                <path d="M10.285 12.97l-1.285 -.773" />
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
              </svg>
            </span>
            <span class="nav-link-title">
              Parâmetros
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a class="dropdown-item" href="{{ url_for('listar_bitolas')}}">
                  Bitola
                </a>
                <a class="dropdown-item" href="{{url_for('listar_rotas')}}">
                  Rotas de frete
                </a>
                <a class="dropdown-item" href="{{url_for('listar_grupos')}}">
                  Grupos Whatsapp
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown 
                {% if request.endpoint == 'variaveis_sistema_editar' or 
                      request.endpoint == 'usuarios_listar' or
                      request.endpoint == 'usuario_cadastrar' or
                      request.endpoint == 'usuario_editar' or
                      request.endpoint == 'usuario_desativar' or
                      request.endpoint == 'usuario_ativar' or
                      request.endpoint == 'usuario_excluir' or
                      request.endpoint == 'usuario_reenvio_email' or
                      request.endpoint == 'roles_listar' or
                      request.endpoint == 'role_cadastrar' or
                      request.endpoint == 'role_editar' or
                      request.endpoint == 'role_excluir'
                %} 
                  active 
                {% endif %}">
          <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 
                        1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 
                        1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 
                        1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 
                        2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 
                        1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 
                        -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 
                        -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 
                        -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
                </path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
              </svg>
            </span>
            <span class="nav-link-title">
              Configurações
            </span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Roles e Rotas
                  </a>
                  <div class="dropdown-menu">
                    <a href="{{ url_for('roles_listar') }}" class="dropdown-item">
                      Roles/Funções
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Autenticação
                  </a>
                  <div class="dropdown-menu">
                    <a href="{{ url_for('usuarios_listar') }}" class="dropdown-item">
                      Usuários
                    </a>
                  </div>
                </div>
                <div class="dropend">
                  <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown"
                    data-bs-auto-close="outside" role="button" aria-expanded="false">
                    Gerais
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('listar_empresa_emissora')}}">
                      Empresa Emissora
                    </a>
                    <a class="dropdown-item" href="{{url_for('listar_centro_custo')}}">
                      Centro de Custos
                    </a>
                    <a class="dropdown-item" href="{{url_for('listar_conta_bancaria')}}">
                      Contas Bancárias
                    </a>
                    <a class="dropdown-item" href="{{url_for('listar_plano_contas')}}">
                      Plano de Contas
                    </a>
                    <a class="dropdown-item" href="{{url_for('listar_categorizacao_fiscal')}}">
                      Categorização Fiscal
                    </a>
                  </div>
                </div>
                <a class="dropdown-item" href="{{ url_for('variaveis_sistema_editar', id=1)}}">
                  Variáveis de Sistema
                </a>
                <a class="dropdown-item" href="{{ url_for('changelog_listar')}}">
                  Changelog
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{ url_for('usuario_minha_conta', id=current_user.id) }}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              </svg>
            </span>
            <span class="nav-link-title">
              Minha Conta
            </span>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{{ url_for('logout') }}">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-logout">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M9 12h12l-3 -3" />
                <path d="M18 15l3 -3" />
              </svg>
            </span>
            <span class="nav-link-title">
              Sair
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>

<!-- Filtro -->
<div class="modal modal-blur fade" id="modal-movimentacaoes-financeiras" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document" style="display: grid;">
    <form action="{{url_for('exportar_movimentacaoes_financeiras')}}" method="get" target="_blank">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Exportar Movimentação
            Financeira</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 mb-3">
              <!-- Seletor de empresa -->
              <label class="form-label" for="selectConta"><strong>Conta
                  Bancária Relacionada:</strong></label>
              <select name="conta_bancaria_id" class="form-select">
                <option value="0">
                  Todos
                </option>
                {% for conta in contas_bancarias %}
                <option value="{{ conta.id }}" {% if (conta_selecionada_id is none and conta.id==1) or
                  (conta_selecionada_id is not none and conta.id==conta_selecionada_id) %} selected {% endif %}>
                  {{ conta.identificacao }}
                </option>
                {%endfor%}
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary btn-3" data-bs-dismiss="modal">
            Cancelar
          </a>
          <button type="submit" class="btn btn-primary btn-5 ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
              <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
              <path d="M17 18h2" />
              <path d="M20 15h-3v6" />
              <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
            </svg>
            Exportar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>