{% extends 'estrutura/base.html' %}
{% block conteudo %}
{% include 'estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            NF ENTRADA
          </div>
          <h2 class="page-title">
            Listagem
          </h2>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex gap-2">
            <a href="#" class="btn" data-bs-toggle="modal"
              data-bs-target="#modal-report">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
              </svg>
              Filtrar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'estrutura/mensagens_flash.html' %}
      <div class="col-12">
        <div class="card" id="registrosOperacionais">
          <div class="card-body p-0">
            {% if registros %}
            <div class="accordion" id="origensAccordion">
              {% for origem_group in registros|groupby('origem') %}
              {% set origem = origem_group.grouper %}
              {% set registros_origem = origem_group.list %}
              <div class="accordion-item">
                <h2 class="accordion-header"
                  id="heading-origem-{{ loop.index }}">
                  <button class="accordion-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-origem-{{ loop.index }}"
                    aria-expanded="true">
                    {% set peso_ticket_total = registros_origem |
                    map(attribute='peso_total_ticket') | select | sum
                    |round(2) %}
                    {% set peso_contra_total = registros_origem |
                    map(attribute='nfentrada.peso_contra_nota') | select | sum
                    |round(2) %}
                    {% set peso_diferenca = peso_contra_total -
                    peso_ticket_total %}
                    <span class="fw-bold d-flex align-itens-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-user-check">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
                        <path d="M15 19l2 2l4 -4" />
                      </svg>
                      {{ origem }}
                      <div
                        class="ms-3 d-flex flex-wrap gap-2 align-items-center">
                        <span
                          class="badge bg-primary-lt d-flex align-items-center gap-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-ticket"><path
                              stroke="none" d="M0 0h24v24H0z"
                              fill="none" /><path d="M15 5l0 2" /><path
                              d="M15 11l0 2" /><path d="M15 17l0 2" /><path
                              d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2" /></svg>
                          Saídas: {{ peso_ticket_total | round(2) }} Ton
                        </span>

                        <span
                          class="badge bg-blue-lt d-flex align-items-center gap-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-file-isr"><path
                              stroke="none" d="M0 0h24v24H0z"
                              fill="none" /><path
                              d="M15 3v4a1 1 0 0 0 1 1h4" /><path
                              d="M15 3v4a1 1 0 0 0 1 1h4" /><path
                              d="M6 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7" /><path
                              d="M3 15l3 -3l3 3" /></svg>
                          Entradas: {{ peso_contra_total | round(2) }} Ton
                        </span>

                        <span
                          class="badge d-flex align-items-center gap-1
                          {% if peso_diferenca == 0 %}
                            bg-green-lt
                          {% elif peso_diferenca > 0 %}
                            bg-orange-lt
                          {% else %}
                            bg-red-lt
                          {% endif %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-arrows-diff"><path
                              stroke="none" d="M0 0h24v24H0z"
                              fill="none" /><path d="M11 16h10" /><path
                              d="M11 16l4 4" /><path d="M11 16l4 -4" /><path
                              d="M13 8h-10" /><path d="M13 8l-4 4" /><path
                              d="M13 8l-4 -4" /></svg>
                          Dif: {{ peso_diferenca | round(2) }} Ton
                        </span>
                      </div>

                    </span>
                  </button>
                </h2>
                <div id="collapse-origem-{{ loop.index }}"
                  class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
                  data-bs-parent="#origensAccordion">
                  <div class="accordion-body p-0">
                    {% for produto_group in
                    registros_origem|groupby('produto')%}
                    {% set produto = produto_group.grouper %}
                    {% set registros_entrada = produto_group.list %}
                    <div class="produto-section border-bottom">
                      <div class="produto-header p-3 bg-light">
                        <div class="d-flex align-items-center">
                          <span class="fw-bold text-azure">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                              height="24"
                              viewBox="0 0 24 24" fill="none"
                              stroke="currentColor"
                              stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"
                              class="icon icon-tabler icon-tabler-christmas-tree">
                              <path stroke="none" d="M0 0h24v24H0z"
                                fill="none" />
                              <path
                                d="M12 3l4 4l-2 1l4 4l-3 1l4 4h-14l4 -4l-3 -1l4 -4l-2 -1z" />
                              <path
                                d="M14 17v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-3" />
                            </svg>
                            {{ produto }}
                          </span>
                          <span class="badge bg-azure-lt ms-2">{{
                            registros_entrada|length }}</span>
                        </div>
                      </div>
                      <div class="p-3">
                        <div class="table-responsive">
                          <table
                            class="table table-vcenter table-hover table-striped">
                            <thead class="bg-light">
                              <tr>
                                <th class="text-center text-primary">Data
                                  Ticket</th>
                                <th class="text-center">Floresta/Fornecedor</th>
                                <th class="text-center">Produto/bitola</th>
                                <th class="text-center">Número NF</th>
                                <th class="text-center">Peso Ticket (Ton.)</th>
                                <th class="text-center">Peso Contra Nota
                                  (Ton.)</th>
                                <th class="text-center">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for item in registros_entrada %}
                              <tr
                                class="{%if item.nfentrada.arquivo_contra_nota_id%} text-success {%endif%}">
                                <td
                                  class="text-center fw-bold {%if item.nfentrada.arquivo_contra_nota_id%} text-success {%else%} text-primary {%endif%} ">
                                  {% if item.dados_ticket and item.dados_ticket.data_entrega_ticket %}
                                  {{ item.dados_ticket.data_entrega_ticket |
                                  formatar_data_para_brl }}
                                  {% else %}-{% endif %}
                                </td>
                                <td class="text-center">
                                  {%if item.dados_ticket and item.dados_ticket.fornecedor%}
                                  {{item.dados_ticket.fornecedor.identificacao |
                                  truncate(15, true, '...') or '-'}}
                                  {%else%}
                                  -
                                  {%endif%}
                                </td>
                                <td class="text-center">
                                  {{item.solicitacao.produto.nome
                                  | truncate(15, true, '...') or '-'}} |
                                  {{item.solicitacao.bitola.bitola
                                  | truncate(15, true, '...') or '-'}}
                                </td>
                                <td class="text-center">
                                  {% if item.dados_ticket and item.dados_ticket.numero_nota_fiscal_ticket %}
                                  <span
                                    class="badge {%if item.nfentrada.arquivo_contra_nota_id%} bg-success-lt {%else%} bg-orange-lt {%endif%} p-2">
                                    {{ item.dados_ticket.numero_nota_fiscal_ticket }}
                                  </span>
                                  {% else %}-{% endif %}
                                </td>
                                <td class="text-center">
                                  {% if item.peso_total_ticket %}
                                  {{ item.peso_total_ticket }} Ton.

                                  {% else %}
                                  peso
                                  {% endif %}
                                </td>
                                <td class="text-center">
                                  {% if item.nfentrada.arquivo_contra_nota_id %}
                                  {{ item.nfentrada.peso_contra_nota }} Ton.
                                  {% else %}
                                  <span class="badge bg-secondary-lt p-2">Sem
                                    peso</span>
                                  {% endif %}
                                </td>
                                <td class="text-center">
                                  <a
                                    href="{{url_for('lancar_nf_entrada', id=item.nfentrada.id)}}"
                                    class="btn btn-icon btn-outline-success"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="{%if item.nfentrada.arquivo_nf_entrada_id and item.nfentrada.arquivo_contra_nota_id%}Visualizar NF Entrada {%else%}Lançar NF Entrada{%endif%}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24" viewBox="0 0 24 24"
                                      fill="none"
                                      stroke="currentColor" stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="icon icon-tabler icons-tabler-outline icon-tabler-upload"><path
                                        stroke="none" d="M0 0h24v24H0z"
                                        fill="none" /><path
                                        d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path
                                        d="M7 9l5 -5l5 5" /><path
                                        d="M12 4l0 12" /></svg>
                                  </a>
                                  <a
                                    href="{{url_for('lancar_cte', id=item.nfentrada.id)}}"
                                    class="btn btn-icon btn-outline-primary"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="{%if item.nfentrada.arquivo_cte_id %}Visualizar CTE{%else%}Lançar CTE{%endif%}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24" viewBox="0 0 24 24"
                                      fill="none"
                                      stroke="currentColor" stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="icon icon-tabler icons-tabler-outline icon-tabler-file-isr"><path
                                        stroke="none" d="M0 0h24v24H0z"
                                        fill="none" /><path
                                        d="M15 3v4a1 1 0 0 0 1 1h4" /><path
                                        d="M15 3v4a1 1 0 0 0 1 1h4" /><path
                                        d="M6 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7" /><path
                                        d="M3 15l3 -3l3 3" /></svg>
                                  </a>
                                  <a
                                    href="{{url_for('lancar_mdf', id=item.nfentrada.id)}}"
                                    class="btn btn-icon btn-outline-warning"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="{%if item.nfentrada.arquivo_mdf_id %}Visualizar MDF{%else%}Lançar MDF{%endif%}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24" viewBox="0 0 24 24"
                                      fill="none"
                                      stroke="currentColor" stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="icon icon-tabler icons-tabler-outline icon-tabler-world-upload"><path
                                        stroke="none" d="M0 0h24v24H0z"
                                        fill="none" /><path
                                        d="M21 12a9 9 0 1 0 -9 9" /><path
                                        d="M3.6 9h16.8" /><path
                                        d="M3.6 15h8.4" /><path
                                        d="M11.578 3a17 17 0 0 0 0 18" /><path
                                        d="M12.5 3c1.719 2.755 2.5 5.876 2.5 9" /><path
                                        d="M18 21v-7m3 3l-3 -3l-3 3" /></svg>
                                  </a>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <!-- mensagem de nenhum dado -->
            <div class="area-info-card"
              style="padding: 30px; border-radius: 10px; text-align: center; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); background-color: white;">
              <div class="icon-extrato"
                style="font-size: 70px; color: #fc7801; margin-bottom: 15px">❌</div>
              <h2
                style="font-size: 22px; margin-bottom: 10px; color: #555;">Nenhum
                dado disponível</h2>
              <p style="color: #777;">No momento não há registros para
                exibir.</p>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Filtro -->
  <div class="modal modal-blur fade" id="modal-report" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document"
      style="display: grid;">
      <form action="{{url_for('listagem_nf_entrada')}}"
        method="GET">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Filtrar NFs de entrada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Início</label>
                <input type="date" name="dataInicio" class="form-control"
                  value="{{dados_corretos.get('dataInicio', '')}}">
              </div>
              <div class="col-md-4 mb-3">
                <label class="form-label">Data Fim</label>
                <input type="date" name="dataFim" class="form-control"
                  value="{{ dados_corretos.get('dataFim', '') }}">
              </div>
              <div class="col-md-4 mb-3">
                <label class="form-label">Número NF</label>
                <input type="text" name="numeroNf" class="form-control"
                  value="{{ dados_corretos.get('numeroNf', '') }}">
              </div>
              <div class="col-md-12 mb-3">
                <label class="form-label">Origem</label>
                <input type="text" name="origemEntrada" class="form-control"
                  value="{{ dados_corretos.get('origemEntrada', '') }}"
                  placeholder="Fornecedor/floresta">
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <a href="{{url_for('listagem_nf_entrada')}}"
              class="btn btn-link link-secondary btn-3">
              Limpar Filtros
            </a>
            <button type="submit" class="btn btn-primary btn-5 ms-auto"
              data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-filter"><path stroke="none"
                  d="M0 0h24v24H0z" fill="none" /><path
                  d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" /></svg>
              Filtrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include 'estrutura/footer.html' %}
</div>

{% endblock conteudo %}