{% extends 'estrutura/base.html' %}
{% block conteudo %}
{% include 'estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            FLORESTAS
          </div>
          <h2 class="page-title">
            Listagem
          </h2>
        </div>
        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex gap-2">
            <a href="{{ url_for('cadastrar_floresta') }}" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Cadastrar Floresta
            </a>
            <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
              </svg>
              Filtrar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <div  class="card">

          <!-- Início Tabela -->
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th style="text-align: center;">Identificação</th>
                  <th style="text-align: center;">Rodovia</th>
                  <th style="text-align: center;">Km</th>
                  <th style="text-align: center;">Cidade</th>
                  <th style="text-align: center;">Estado</th>
                  <th style="text-align: center;">Crédito</th>
                  <th style="text-align: center;">Ativa</th>
                  <th style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for f in florestas %}
                <tr>
                  <td class="text-secondary" style="text-align: center;">
                    {{ f.identificacao[:40] }}
                    {% if f.identificacao | length > 40 %}
                    ...
                    {% endif %}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {%if f.rodovia%}{{ f.rodovia }}{%else%}-{%endif%}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {%if f.km%}{{ f.km }}{%else%}-{%endif%}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {{ f.cidade }}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {{ f.estado }}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {{ f.credito_100 | formatar_float_para_brl }}
                  </td>
                  <td class="text-secondary" style="text-align: center;">
                    {%if f.ativo == 1%}<span class="badge badge-outline text-green">Sim</span>{%else%}<span
                      class="badge badge-outline text-danger">Não</span>{%endif%}
                  </td>
                  <td>
                    <div class="btn-list flex-nowrap" style="justify-content: center;">
                      <a href="#" class="btn btn-icon btn-outline-gray btn-visualizar-arquivo"
                        data-url="{{ url_for('diretorio_uploads_contrato_floresta', filename=f.contrato_floresta.caminho.split('/')[-1]) }}"
                        data-bs-toggle="modal" data-bs-target="#modal-visualizar-arquivo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="icon icon-tabler icons-tabler-outline icon-tabler-receipt">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2m4 -14h6m-6 4h6m-2 4h2" />
                        </svg>
                      </a>
                      <!-- Botão: Editar floresta -->
                      <a href="{{ url_for('editar_floresta', id=f.id) }}" class="btn btn-icon btn-outline-warning"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar floresta">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                          <path d="M13.5 6.5l4 4" />
                        </svg>
                      </a>
                      {%if f.ativo == 1%}
                      <!-- Botão: Desativar floresta -->
                      <a href="#" class="btn btn-icon btn-outline-danger {%if current_user.role_id != 1 and current_user.role_id != 2 and current_user.role_id != 3%} disabled {%endif%} excluir" data-bs-toggle="modal"
                        data-bs-target="#modal-desativar-{{ f.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M18 6l-12 12" />
                          <path d="M6 6l12 12" />
                        </svg>
                      </a>
                      <div class="modal modal-blur fade" id="modal-desativar-{{f.id}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-status bg-danger"></div>
                            <div class="modal-body text-center py-4">
                              <!-- Download SVG icon from http://tabler.io/icons/icon/alert-triangle -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon mb-2 text-danger icon-lg">
                                <path d="M12 9v4" />
                                <path
                                  d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                                <path d="M12 16h.01" />
                              </svg>
                              <div class="text-secondary">
                                Você realmente deseja desativar esta floresta?
                              </div>
                            </div>
                            <div class="modal-footer">
                              <div class="w-100">
                                <div class="row">
                                  <div class="col">
                                    <a href="#" class="btn btn-3 w-100" data-bs-dismiss="modal">
                                      Fechar
                                    </a>
                                  </div>
                                  <div class="col">
                                    <a href="{{url_for('desativar_floresta', id=f.id)}}"
                                      class="btn btn-danger btn-4 w-100">
                                      Desativar
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%else%}
                      <!-- Botão: Ativar floresta -->
                      <a href="{{ url_for('ativar_floresta', id=f.id) }}"
                        class="btn btn-icon btn-outline-success {%if current_user.role_id != 1 and current_user.role_id != 2 and current_user.role_id != 3%} disabled {%endif%} ativar" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Ativar floresta">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24"
                          height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                      </a>
                      {%endif%}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filtro -->
  <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <form action="{{url_for('listar_florestas')}}" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Filtrar florestas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3 mb-3">
                <label class="form-label">Identificação</label>
                <input type="text" name="identificacao" class="form-control"
                  value="{{ dados_corretos.get('identificacao', '') }}">
              </div>
              <div class="col-md-2 mb-3">
                <label class="form-label">Rodovia</label>
                <input type="text" name="rodovia" class="form-control" value="{{ dados_corretos.get('rodovia', '') }}">
              </div>
              <div class="col-md-2 mb-3">
                <label class="form-label">KM</label>
                <input type="text" name="km" class="form-control" value="{{ dados_corretos.get('km', '') }}">
              </div>
              <div class="col-md-3 mb-3">
                <label class="form-label">Cidade</label>
                <input type="text" name="cidade" class="form-control" value="{{ dados_corretos.get('cidade', '') }}">
              </div>
              <div class="col-md-2 mb-3">
                <label class="form-label">Estado</label>
                <select class="form-select" name="estado" id="estado">
                  <option value="{{ dados_corretos.get('estado', '') }}" selected>{{ dados_corretos.get('estado', '') }}</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <a href="{{ url_for('listar_florestas') }}" class="btn btn-link link-secondary btn-3">
              Limpar Filtros
            </a>
            <button type="submit" class="btn btn-primary btn-5 ms-auto" data-bs-dismiss="modal">
              <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-2">
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Filtrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include 'estrutura/footer.html' %}
</div>

{% endblock conteudo %}