{% extends 'estrutura/base.html' %}
{% block conteudo %}
{% include 'estrutura/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            EMPRESAS EMISSORAS
          </div>
          <h2 class="page-title">
            Listagem
          </h2>
        </div>

        <div class="col-12 col-md-auto ms-auto d-print-none">
          <div class="d-flex gap-2">
            <a href="{{ url_for('cadastrar_empresa_emissora') }}"
              class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon"
                width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor"
                fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"
                  fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Cadastrar Empresa Emissora
            </a>
            <!-- <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-filter">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
              </svg>
              Filtrar </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">

      {% include 'estrutura/mensagens_flash.html' %}

      <div class="col-12">
        <div class="card">

          {% if empresa_emissora %}
          <!-- Início Tabela -->
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th
                    style="text-align: center;">Identificação</th>
                  <th
                    style="text-align: center;">CPF/CNPJ</th>
                  <th style="text-align: center;">Ativo</th>
                  <th class="w-1"
                    style="text-align: center;">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for em in empresa_emissora %}
                <tr>
                  <td class="text-secondary"
                    style="text-align: center;">
                    {{ em.identificacao[:40] }}
                    {% if em.identificacao | length > 40 %}
                    ...
                    {% endif %}
                  </td>
                  <td class="text-secondary cnpjMask"
                    style="text-align: center;">
                    {{ em.numero_documento }}
                  </td>
                  <td class="text-secondary"
                    style="text-align: center;">
                    {%if em.ativo == 1%}<span
                      class="badge badge-outline text-green">Sim</span>{%else%}<span
                      class="badge badge-outline text-danger">Não</span>{%endif%}
                  </td>
                  <td>
                    <div class="btn-list flex-nowrap">
                      <!-- Botão: Editar cliente -->
                      <a href="{{url_for('editar_empresa_emissora', id=em.id)}}"
                        class="btn btn-icon btn-outline-warning"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Editar empresa">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-pencil"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none" />
                          <path
                            d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                          <path d="M13.5 6.5l4 4" />
                        </svg>
                      </a>
                      {% if em.ativo == 1 %}
                      <!-- Botão: Desativar cliente -->
                      <a href="#"
                        class="btn btn-icon btn-outline-danger desativar"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-desativar-{{ em.id }}">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-x"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none" />
                          <path d="M18 6l-12 12" />
                          <path d="M6 6l12 12" />
                        </svg>
                      </a>

                      <div class="modal modal-blur fade"
                        id="modal-desativar-{{em.id}}"
                        tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div
                          class="modal-dialog modal-sm modal-dialog-centered"
                          role="document">
                          <div class="modal-content">
                            <button type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                            <div
                              class="modal-status bg-danger"></div>
                            <div
                              class="modal-body text-center py-4">
                              <!-- Download SVG icon from http://tabler.io/icons/icon/alert-triangle -->
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon mb-2 text-danger icon-lg">
                                <path
                                  d="M12 9v4" />
                                <path
                                  d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" />
                                <path
                                  d="M12 16h.01" />
                              </svg>
                              <div
                                class="text-secondary">
                                Você realmente
                                deseja desativar
                                esta empresa?
                              </div>
                            </div>
                            <div
                              class="modal-footer">
                              <div class="w-100">
                                <div
                                  class="row">
                                  <div
                                    class="col">
                                    <a
                                      href="#"
                                      class="btn btn-3 w-100"
                                      data-bs-dismiss="modal">
                                      Cancelar
                                    </a>
                                  </div>
                                  <div
                                    class="col">
                                    <a
                                      href="{{url_for('excluir_empresa_emissora', id=em.id)}}"
                                      class="btn btn-danger btn-4 w-100">
                                      Sim
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {%endif%}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {%else%}
          <div class="area-info-extrato text-center p-4 shadow-sm"
            style="border-radius: 10px; background-color: white;">
            <div
              style="font-size: 70px; color: #fc7801; margin-bottom: 15px;">🏢</div>
            <h2
              style="font-size: 22px; margin-bottom: 10px; color: #555;">Ainda
              não há empresas emissoras cadastradas.</h2>
            <p style="color: #777;">No momento não há registros de empresas
              emissoras. Quando houver novos dados, eles
              aparecerão automaticamente aqui.</p>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </div>

  <!-- Filtro -->
  <div class="modal modal-blur fade" id="modal-report" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"
      style="justify-content: center;">
      <form action="{{url_for('listar_clientes')}}" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Filtrar clientes</h5>
            <button type="button" class="btn-close"
              data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label class="form-label">Identificação</label>
                <input type="text" name="identificacao"
                  class="form-control"
                  value="{{ dados_corretos.get('identificacao', '') }}"
                  placeholder="Nome ou razão social">
              </div>
              <div class="col-md-6 mb-3">
                <label class="form-label">Celular</label>
                <input type="text" name="celular"
                  class="form-control celular"
                  value="{{ dados_corretos.get('celular', '') }}">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <a href="{{ url_for('listar_clientes') }}"
              class="btn btn-link link-secondary btn-3">
              Limpar Filtros
            </a>
            <button type="submit"
              class="btn btn-primary btn-5 ms-auto"
              data-bs-dismiss="modal">
              <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-2">
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              Filtrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include 'estrutura/footer.html' %}
</div>

{% endblock conteudo %}